<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
<h1>Welcome to the official blog of Joe McDonough.
<br>
<br>  
This blog contains highly useful information proferred in astonishingly beautiful prose. 
<br>
<br>
Do not delete. 
<br> 
<br>
Modify with extreme care.
</h1>
<br>
<br>
	<a href="/blog/posts">Read Joe's Blog</a>
<br>
<br>
<br>
<br>
	<a href="/blog/new">For Joe only: Click Here to Add New Blog Post</a>
</body>
</html>