<html>
<head>
	<title>New Post</title>
</head>
<body>
	<h1>Add a New Post Here</h1>
	<form method="POST" action="/blog/new">
		<input type="text" name="author" placeholder="Author">
		<input type="text" name="title" placeholder="Title">
		<input type="text" name="body" placeholder="Body">
		<input type="submit">
	</form>
<br>
<br>
<br>
	<a href="/blog">Joe's Blog Home</a>
</body>
</html>